@font-face {
	font-family: 'Basis';
	src: url('/fonts/BasisGrotesquePro-Bold.otf') format('opentype');
	font-weight: 700;
}

@font-face {
	font-family: 'Basis';
	src: url('/fonts/BasisGrotesquePro-Medium.otf') format('opentype');
	font-weight: 500;
}

@font-face {
	font-family: 'Basis';
	src: url('/fonts/BasisGrotesquePro-Regular.otf') format('opentype');
	font-weight: 400;
}
