:root {
	--window-height: 100vh;

	--space-standard: 1.25rem;
	--space-large: 2.5rem;
	--space-x-large: var(--nav-height);

	--nav-height: 3.5rem;

	--z-main-above-curtain: 30;
	--z-curtain: 20;
	--z-main-below-curtain: 10;

	--z-nav: 40;

	--color-text: #282e3c;
}
