@import 'reset.scss';
@import 'font.scss';
@import 'vars.scss';
@import 'mixins.scss';

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html,
body {
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Basis', -apple-system, BlinkMacSystemFont, helvetica neue,
		helvetica sans-serif;
	font-weight: 500;
	letter-spacing: 0.03em;
	color: var(--color-text);

	@include min-width('tablet') {
		font-size: 13.5px;
	}
}

img,
video {
	display: block;
	width: 100%;
}

a,
button {
	cursor: pointer;
}

// Underlines text with 1px thickness

.underline {
	text-decoration: underline;
	text-underline-offset: 4px;
	text-decoration-thickness: 1px;
}

// Sets text to be paragraph size and leading

.text-large {
	font-size: 16px;
	text-transform: initial;
	letter-spacing: initial;
	max-width: 30em;
	line-height: 1.5;

	p {
		margin-bottom: 1rem;
	}
}

// Formats text without changing size

.text-para {
	text-transform: initial;
	line-height: 1.5;

	p {
		margin-bottom: 1em;
	}
}

// Positions an icon with text with built in padding

.iconText {
	display: flex;
	align-items: center;
	gap: 0.25em;
}
